<!--h2>{{shinobi.name}} :</h2>
<div><span>ID: </span>{{shinobi.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div>
  <label>Name:
    <input [(ngModel)]="shinobi.name" placeholder="name"/>
  </label>
</div>

<div>
  <label>Village:
    <input [(ngModel)]="shinobi.village" placeholder="village"/>
  </label>
</div!-->

<ul class="shinobi">
  <li *ngFor="let shinobi of shinobi"
  [class.selected]="shinobi === selectedShinobi" 
  (click)="onSelect(shinobi)"> 
    <span class="badge">{{shinobi.id}}</span> {{shinobi.name}}
</ul>

<app-shinobi-detail [shinobi]="selectedShinobi"></app-shinobi-detail>

<!--div *ngIf="selectedShinobi">

<h2>{{selectedShinobi.name}} Details</h2>
<div><span>id: </span>{{selectedShinobi.id}}</div>
<div>
  <label>Name:
    <input [(ngModel)]="selectedShinobi.name" placeholder="name"/>
  </label>
</div>
<div>
    <label>Village:
    <input [(ngModel)]="selectedShinobi.village" placeholder="village"/>
  </label>
</div-->